<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bkn</key>
	<string>day-cloudy-heavy.png</string>
	<key>blizzard</key>
	<string>snow-heavy.png</string>
	<key>blizzard10</key>
	<string>snow-heavy.png</string>
	<key>blizzard100</key>
	<string>snow-heavy.png</string>
	<key>blizzard20</key>
	<string>snow-heavy.png</string>
	<key>blizzard30</key>
	<string>snow-heavy.png</string>
	<key>blizzard40</key>
	<string>snow-heavy.png</string>
	<key>blizzard50</key>
	<string>snow-heavy.png</string>
	<key>blizzard60</key>
	<string>snow-heavy.png</string>
	<key>blizzard70</key>
	<string>snow-heavy.png</string>
	<key>blizzard80</key>
	<string>snow-heavy.png</string>
	<key>blizzard90</key>
	<string>snow-heavy.png</string>
	<key>cold</key>
	<string>snow-heavy.png</string>
	<key>du</key>
	<string>haze.png</string>
	<key>few</key>
	<string>day-cloudy-light.png</string>
	<key>fg</key>
	<string>fog.png</string>
	<key>fu</key>
	<string>haze.png</string>
	<key>fzra</key>
	<string>rain-snow.png</string>
	<key>fzra10</key>
	<string>rain-snow.png</string>
	<key>fzra100</key>
	<string>rain-snow.png</string>
	<key>fzra20</key>
	<string>rain-snow.png</string>
	<key>fzra30</key>
	<string>rain-snow.png</string>
	<key>fzra40</key>
	<string>rain-snow.png</string>
	<key>fzra50</key>
	<string>rain-snow.png</string>
	<key>fzra60</key>
	<string>rain-snow.png</string>
	<key>fzra70</key>
	<string>rain-snow.png</string>
	<key>fzra80</key>
	<string>rain-snow.png</string>
	<key>fzra90</key>
	<string>rain-snow.png</string>
	<key>hi_nshwrs</key>
	<string>night-rain.png</string>
	<key>hi_nshwrs10</key>
	<string>night-rain.png</string>
	<key>hi_nshwrs100</key>
	<string>night-rain.png</string>
	<key>hi_nshwrs20</key>
	<string>night-rain.png</string>
	<key>hi_nshwrs30</key>
	<string>night-rain.png</string>
	<key>hi_nshwrs40</key>
	<string>night-rain.png</string>
	<key>hi_nshwrs50</key>
	<string>night-rain.png</string>
	<key>hi_nshwrs60</key>
	<string>night-rain.png</string>
	<key>hi_nshwrs70</key>
	<string>night-rain.png</string>
	<key>hi_nshwrs80</key>
	<string>night-rain.png</string>
	<key>hi_nshwrs90</key>
	<string>night-rain.png</string>
	<key>hi_ntsra</key>
	<string>night-lightning.png</string>
	<key>hi_ntsra10</key>
	<string>night-lightning.png</string>
	<key>hi_ntsra100</key>
	<string>night-lightning.png</string>
	<key>hi_ntsra20</key>
	<string>night-lightning.png</string>
	<key>hi_ntsra30</key>
	<string>night-lightning.png</string>
	<key>hi_ntsra40</key>
	<string>night-lightning.png</string>
	<key>hi_ntsra50</key>
	<string>night-lightning.png</string>
	<key>hi_ntsra60</key>
	<string>night-lightning.png</string>
	<key>hi_ntsra70</key>
	<string>night-lightning.png</string>
	<key>hi_ntsra80</key>
	<string>night-lightning.png</string>
	<key>hi_ntsra90</key>
	<string>night-lightning.png</string>
	<key>hi_shwrs</key>
	<string>day-rain.png</string>
	<key>hi_shwrs10</key>
	<string>day-rain.png</string>
	<key>hi_shwrs100</key>
	<string>day-rain.png</string>
	<key>hi_shwrs20</key>
	<string>day-rain.png</string>
	<key>hi_shwrs30</key>
	<string>day-rain.png</string>
	<key>hi_shwrs40</key>
	<string>day-rain.png</string>
	<key>hi_shwrs50</key>
	<string>day-rain.png</string>
	<key>hi_shwrs60</key>
	<string>day-rain.png</string>
	<key>hi_shwrs70</key>
	<string>day-rain.png</string>
	<key>hi_shwrs80</key>
	<string>day-rain.png</string>
	<key>hi_shwrs90</key>
	<string>day-rain.png</string>
	<key>hi_tsra</key>
	<string>day-lightning.png</string>
	<key>hi_tsra10</key>
	<string>day-lightning.png</string>
	<key>hi_tsra100</key>
	<string>day-lightning.png</string>
	<key>hi_tsra20</key>
	<string>day-lightning.png</string>
	<key>hi_tsra30</key>
	<string>day-lightning.png</string>
	<key>hi_tsra40</key>
	<string>day-lightning.png</string>
	<key>hi_tsra50</key>
	<string>day-lightning.png</string>
	<key>hi_tsra60</key>
	<string>day-lightning.png</string>
	<key>hi_tsra70</key>
	<string>day-lightning.png</string>
	<key>hi_tsra80</key>
	<string>day-lightning.png</string>
	<key>hi_tsra90</key>
	<string>day-lightning.png</string>
	<key>hot</key>
	<string>day.png</string>
	<key>hurr</key>
	<string>wind.png</string>
	<key>ip</key>
	<string>hail.png</string>
	<key>ip10</key>
	<string>hail.png</string>
	<key>ip100</key>
	<string>hail.png</string>
	<key>ip20</key>
	<string>hail.png</string>
	<key>ip30</key>
	<string>hail.png</string>
	<key>ip40</key>
	<string>hail.png</string>
	<key>ip50</key>
	<string>hail.png</string>
	<key>ip60</key>
	<string>hail.png</string>
	<key>ip70</key>
	<string>hail.png</string>
	<key>ip80</key>
	<string>hail.png</string>
	<key>ip90</key>
	<string>hail.png</string>
	<key>mix</key>
	<string>rain-snow.png</string>
	<key>mix10</key>
	<string>rain-snow.png</string>
	<key>mix100</key>
	<string>rain-snow.png</string>
	<key>mix20</key>
	<string>rain-snow.png</string>
	<key>mix30</key>
	<string>rain-snow.png</string>
	<key>mix40</key>
	<string>rain-snow.png</string>
	<key>mix50</key>
	<string>rain-snow.png</string>
	<key>mix60</key>
	<string>rain-snow.png</string>
	<key>mix70</key>
	<string>rain-snow.png</string>
	<key>mix80</key>
	<string>rain-snow.png</string>
	<key>mix90</key>
	<string>rain-snow.png</string>
	<key>nbkn</key>
	<string>night-cloudy-heavy.png</string>
	<key>nbknfg</key>
	<string>night-foggy.png</string>
	<key>nfew</key>
	<string>night-cloudy-light.png</string>
	<key>nfg</key>
	<string>night-foggy.png</string>
	<key>novc</key>
	<string>night-cloudy-heavy.png</string>
	<key>nra</key>
	<string>night-rain.png</string>
	<key>nra10</key>
	<string>night-rain.png</string>
	<key>nra100</key>
	<string>night-rain.png</string>
	<key>nra20</key>
	<string>night-rain.png</string>
	<key>nra30</key>
	<string>night-rain.png</string>
	<key>nra40</key>
	<string>night-rain.png</string>
	<key>nra50</key>
	<string>night-rain.png</string>
	<key>nra60</key>
	<string>night-rain.png</string>
	<key>nra70</key>
	<string>night-rain.png</string>
	<key>nra80</key>
	<string>night-rain.png</string>
	<key>nra90</key>
	<string>night-rain.png</string>
	<key>nraip</key>
	<string>night-rain.png</string>
	<key>nraip10</key>
	<string>night-rain.png</string>
	<key>nraip100</key>
	<string>night-rain.png</string>
	<key>nraip20</key>
	<string>night-rain.png</string>
	<key>nraip30</key>
	<string>night-rain.png</string>
	<key>nraip40</key>
	<string>night-rain.png</string>
	<key>nraip50</key>
	<string>night-rain.png</string>
	<key>nraip60</key>
	<string>night-rain.png</string>
	<key>nraip70</key>
	<string>night-rain.png</string>
	<key>nraip80</key>
	<string>night-rain.png</string>
	<key>nraip90</key>
	<string>night-rain.png</string>
	<key>nrasn</key>
	<string>night-snow.png</string>
	<key>nrasn10</key>
	<string>night-snow.png</string>
	<key>nrasn100</key>
	<string>night-snow.png</string>
	<key>nrasn20</key>
	<string>night-snow.png</string>
	<key>nrasn30</key>
	<string>night-snow.png</string>
	<key>nrasn40</key>
	<string>night-snow.png</string>
	<key>nrasn50</key>
	<string>night-snow.png</string>
	<key>nrasn60</key>
	<string>night-snow.png</string>
	<key>nrasn70</key>
	<string>night-snow.png</string>
	<key>nrasn80</key>
	<string>night-snow.png</string>
	<key>nrasn90</key>
	<string>night-snow.png</string>
	<key>nsct</key>
	<string>night-cloudy-light.png</string>
	<key>nscttsra</key>
	<string>night-lightning.png</string>
	<key>nscttsra10</key>
	<string>night-lightning.png</string>
	<key>nscttsra100</key>
	<string>night-lightning.png</string>
	<key>nscttsra20</key>
	<string>night-lightning.png</string>
	<key>nscttsra30</key>
	<string>night-lightning.png</string>
	<key>nscttsra40</key>
	<string>night-lightning.png</string>
	<key>nscttsra50</key>
	<string>night-lightning.png</string>
	<key>nscttsra60</key>
	<string>night-lightning.png</string>
	<key>nscttsra70</key>
	<string>night-lightning.png</string>
	<key>nscttsra80</key>
	<string>night-lightning.png</string>
	<key>nscttsra90</key>
	<string>night-lightning.png</string>
	<key>nskc</key>
	<string>night.png</string>
	<key>nsn</key>
	<string>night-snow.png</string>
	<key>nsn10</key>
	<string>night-snow.png</string>
	<key>nsn100</key>
	<string>night-snow.png</string>
	<key>nsn20</key>
	<string>night-snow.png</string>
	<key>nsn30</key>
	<string>night-snow.png</string>
	<key>nsn40</key>
	<string>night-snow.png</string>
	<key>nsn50</key>
	<string>night-snow.png</string>
	<key>nsn60</key>
	<string>night-snow.png</string>
	<key>nsn70</key>
	<string>night-snow.png</string>
	<key>nsn80</key>
	<string>night-snow.png</string>
	<key>nsn90</key>
	<string>night-snow.png</string>
	<key>ntsra</key>
	<string>night-lightning.png</string>
	<key>ntsra10</key>
	<string>night-lightning.png</string>
	<key>ntsra100</key>
	<string>night-lightning.png</string>
	<key>ntsra20</key>
	<string>night-lightning.png</string>
	<key>ntsra30</key>
	<string>night-lightning.png</string>
	<key>ntsra40</key>
	<string>night-lightning.png</string>
	<key>ntsra50</key>
	<string>night-lightning.png</string>
	<key>ntsra60</key>
	<string>night-lightning.png</string>
	<key>ntsra70</key>
	<string>night-lightning.png</string>
	<key>ntsra80</key>
	<string>night-lightning.png</string>
	<key>ntsra90</key>
	<string>night-lightning.png</string>
	<key>nwind</key>
	<string>wind.png</string>
	<key>ovc</key>
	<string>cloudy-heavy.png</string>
	<key>ra</key>
	<string>rain-light.png</string>
	<key>ra10</key>
	<string>rain-light.png</string>
	<key>ra100</key>
	<string>rain-heavy.png</string>
	<key>ra20</key>
	<string>rain-light.png</string>
	<key>ra30</key>
	<string>rain-light.png</string>
	<key>ra40</key>
	<string>rain-light.png</string>
	<key>ra50</key>
	<string>rain-light.png</string>
	<key>ra60</key>
	<string>rain-heavy.png</string>
	<key>ra70</key>
	<string>rain-heavy.png</string>
	<key>ra80</key>
	<string>rain-heavy.png</string>
	<key>ra90</key>
	<string>rain-heavy.png</string>
	<key>raip</key>
	<string>rain-snow.png</string>
	<key>raip10</key>
	<string>rain-snow.png</string>
	<key>raip100</key>
	<string>rain-snow.png</string>
	<key>raip20</key>
	<string>rain-snow.png</string>
	<key>raip30</key>
	<string>rain-snow.png</string>
	<key>raip40</key>
	<string>rain-snow.png</string>
	<key>raip50</key>
	<string>rain-snow.png</string>
	<key>raip60</key>
	<string>rain-snow.png</string>
	<key>raip70</key>
	<string>rain-snow.png</string>
	<key>raip80</key>
	<string>rain-snow.png</string>
	<key>raip90</key>
	<string>rain-snow.png</string>
	<key>rasn</key>
	<string>rain-snow.png</string>
	<key>rasn10</key>
	<string>rain-snow.png</string>
	<key>rasn100</key>
	<string>rain-snow.png</string>
	<key>rasn20</key>
	<string>rain-snow.png</string>
	<key>rasn30</key>
	<string>rain-snow.png</string>
	<key>rasn40</key>
	<string>rain-snow.png</string>
	<key>rasn50</key>
	<string>rain-snow.png</string>
	<key>rasn60</key>
	<string>rain-snow.png</string>
	<key>rasn70</key>
	<string>rain-snow.png</string>
	<key>rasn80</key>
	<string>rain-snow.png</string>
	<key>rasn90</key>
	<string>rain-snow.png</string>
	<key>sct</key>
	<string>day-cloudy-light.png</string>
	<key>sctfg</key>
	<string>day-foggy.png</string>
	<key>scttsra</key>
	<string>day-lightning.png</string>
	<key>scttsra10</key>
	<string>day-lightning.png</string>
	<key>scttsra20</key>
	<string>day-lightning.png</string>
	<key>scttsra30</key>
	<string>day-lightning.png</string>
	<key>scttsra40</key>
	<string>day-lightning.png</string>
	<key>scttsra50</key>
	<string>day-lightning.png</string>
	<key>scttsra60</key>
	<string>day-lightning.png</string>
	<key>scttsra70</key>
	<string>day-lightning.png</string>
	<key>scttsra80</key>
	<string>day-lightning.png</string>
	<key>scttsra90</key>
	<string>day-lightning.png</string>
	<key>scttsra100</key>
	<string>day-lightning.png</string>
	<key>shra</key>
	<string>rain-light.png</string>
	<key>shra10</key>
	<string>rain-light.png</string>
	<key>shra20</key>
	<string>rain-light.png</string>
	<key>shra30</key>
	<string>rain-light.png</string>
	<key>shra40</key>
	<string>rain-light.png</string>
	<key>shra50</key>
	<string>rain-light.png</string>
	<key>shra60</key>
	<string>rain-heavy.png</string>
	<key>shra70</key>
	<string>rain-heavy.png</string>
	<key>shra80</key>
	<string>rain-heavy.png</string>
	<key>shra90</key>
	<string>rain-heavy.png</string>
	<key>shra100</key>
	<string>rain-heavy.png</string>
	<key>skc</key>
	<string>day.png</string>
	<key>sn</key>
	<string>snow-light.png</string>
	<key>sn10</key>
	<string>snow-light.png</string>
	<key>sn20</key>
	<string>snow-light.png</string>
	<key>sn30</key>
	<string>snow-light.png</string>
	<key>sn40</key>
	<string>snow-light.png</string>
	<key>sn50</key>
	<string>snow-light.png</string>
	<key>sn60</key>
	<string>snow-heavy.png</string>
	<key>sn70</key>
	<string>snow-heavy.png</string>
	<key>sn80</key>
	<string>snow-heavy.png</string>
	<key>sn90</key>
	<string>snow-heavy.png</string>
	<key>sn100</key>
	<string>snow-heavy.png</string>
	<key>tor</key>
	<string>wind.png</string>
	<key>tsra</key>
	<string>day-lightning.png</string>
	<key>tsra10</key>
	<string>day-lightning.png</string>
	<key>tsra20</key>
	<string>day-lightning.png</string>
	<key>tsra30</key>
	<string>day-lightning.png</string>
	<key>tsra40</key>
	<string>day-lightning.png</string>
	<key>tsra50</key>
	<string>day-lightning.png</string>
	<key>tsra60</key>
	<string>day-lightning.png</string>
	<key>tsra70</key>
	<string>day-lightning.png</string>
	<key>tsra80</key>
	<string>day-lightning.png</string>
	<key>tsra90</key>
	<string>day-lightning.png</string>
	<key>tsra100</key>
	<string>day-lightning.png</string>
	<key>wind</key>
	<string>wind.png</string>
	<key>nshra</key>
	<string>night-rain.png</string>
	<key>nshra10</key>
	<string>night-rain.png</string>
	<key>nshra20</key>
	<string>night-rain.png</string>
	<key>nshra30</key>
	<string>night-rain.png</string>
	<key>nshra40</key>
	<string>night-rain.png</string>
	<key>nshra50</key>
	<string>night-rain.png</string>
	<key>nshra60</key>
	<string>night-rain.png</string>
	<key>nshra70</key>
	<string>night-rain.png</string>
	<key>nshra80</key>
	<string>night-rain.png</string>
	<key>nshra90</key>
	<string>night-rain.png</string>
	<key>nshra100</key>
	<string>night-rain.png</string>
</dict>
</plist>
